@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i');

.addPageMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  width: 320px;
  display: flex;
  flex-direction: column;
  font-family: 'Space Mono', monospace;
}

.label {
  font-size: x-small;
}

.inputfield {
  height: 2em;
  border-radius: 5px;
}

.customSelect{
  display: flex;
  flex-direction: column;
  height: 3em;
}