@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i');


main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.Amex {
  background-color: #0e2337;
  color: blanchedalmond;
}

.Visa {
  background-color: #f0c14f;
  color: #0e2337;
}
.MasterCard {
  background-color: #0c75af;
  color: #0e2337;
}



